---
import Layout from "layouts/Layout.astro";
import CodeBox from "components/ui/CodeBox.astro";
import type { IFrontmatter } from "interfaces/IFrontmatter";
import 'styles/post.css'; // Posts styles

export const prerender = true;
export async function getStaticPaths() {
  const posts = await Astro.glob<IFrontmatter>("./_data/*.mdx");

  return posts.map((post) => ({
    params: {
      slug: post.frontmatter.slug,
    },
    props: {
      post,
    },
  }));
}
// rest Cuando se sube un archivo al cliente mediante un input de tipo FileList,
interface Props {
  images: string[];
  title: string;
  description: string;
  post: {
    frontmatter: {
      title: string;
      shortDescription: string;
      images: string[];
      slug: string;
      date: string;
      keywords: string[];
    };
    Content: any;
    components: {
      [key: string]: any;
    };
  };
}

const { Content, components, frontmatter } = Astro.props.post;
---
<Layout
  title={frontmatter.title} 
  description={frontmatter.shortDescription}
  image={frontmatter.images[0]}
  keywords={frontmatter.keywords.toString()}
  canonical={`https://jotaerre.dev/${frontmatter.slug}/`}
>
  <section class="max-w-3xl mx-auto">
    <h1
      class="text-xl sm:text-2xl md:text-3xl font-bold text-center text-gray-800 dark:text-gray-100 mt-10"
    >
      {frontmatter.title}
    </h1>
    <span
      class="block text-center text-gray-500 dark:text-gray-400 text-sm mt-2 mb-5"
      >{frontmatter.date}</span
    >

    <figure
      class="bg-gray-100 dark:bg-gray-800 rounded-md overflow-hidden mb-5 md:h-96 w-[90%] sm:w-[100%] mx-auto border border-secondary dark:border-none shadow_dark_mode"
    >
      <img
        src={frontmatter.images[0]}
        alt={frontmatter.title}
        class="h-full w-full object-cover"
        loading="lazy"
      />
    </figure>

    <Content
      components={{
        ...components,
        pre: CodeBox,
      }}
    />
  </section>
</Layout>
